* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ring-color: rgb(59 130 246 / 0.5);
  --border-color: rgb(226 232 240 / 80%);
  --tw-opacity: 1;
  --font-color: rgb(15 23 42 / var(--tw-opacity));
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--border-color);
}

nav {
  width: 100%;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  background: #fff;
  max-height: 70px;
}

nav img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  flex: 1;
}

.nav-links label {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-links label .fa-solid {
  font-size: 15px;
}

.btnframe {
  width: 80px;
  height: 30px;
  border-radius: 18px;
  background: blue;
  display: flex;
  align-items: center;
  color: #fff;
}

.penIcon {
  width: 10px;
  margin-right: 8px;
  color: #fff;
}

.LHS {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  height: 30px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  outline: 0;
  border: 0;
  background: transparent;
  font-size: 12px;
  position: relative;
  color: #fff;
  font-size: 12px;
  padding: 5px;
}

.LHS:hover {
  background: rgb(81, 81, 245);
}

.LHS:hover::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #fff;
  right: 0;
  top: 25%;
  position: absolute;
  cursor: pointer;
}

.RHS {
  outline: 0;
  border: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
}

.RHS:hover::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #fff;
  left: 0;
  top: 25%;
  position: absolute;
  cursor: pointer;
}

.RHS:hover {
  background: rgb(81, 81, 245);
}
