* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ring-color: rgb(59 130 246 / 0.5);
  --border-color: rgb(226 232 240 / 80%);
  --tw-opacity: 1;
  --font-color: rgb(15 23 42 / var(--tw-opacity));
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--border-color);
}

nav {
  width: 100%;
  padding: 10px 2.5%;
  display: flex;
  align-items: center;
  background: #fefefe;
  max-height: 60px;
  border-bottom: 1px solid var(--border-color);
}

nav img {
  width: 135px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 10px;
}

.nav-links a {
  text-decoration: none;
  padding: 8px;
  border-radius: 25px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  color: blue;
  display: flex;
  align-items: center;
  transition: border 0.5s, background 0.5s;
}
.nav-links a.active {
  border: solid 1px var(--border-color);
}
.nav-links a:hover {
  background-color: var(--border-color);
}

.nav-links a span {
  font-size: 10px;
  padding: 2px;
  background: blue;
  text-align: center;
  color: #fff;
  border-radius: 18px;
  font-weight: 500;
  margin-left: 3px;
}

.nav-links label {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links input {
  width: 95%;
  padding: 8px;
  border-radius: 25px;
  outline: 0;
  border: 0;
}

.nav-links input:hover {
  border: 1px solid var(--border-color);
}

::placeholder {
  font-size: 14px;
  padding-left: 25px;
  color: #ccc;
}

.nav-links label .fa-solid {
  font-size: 15px;
  position: absolute;
  left: 10px;
  color: #ccc;
  top: 30%;
}

.btnSetup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSetup .fa-moon,
.btnSetup .fa-code-branch,
.btnSetup .fa-bell {
  margin: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #000;
  border-color: black;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btnSetup .fa-moon:hover,
.btnSetup .fa-code-branch:hover,
.btnSetup .fa-bell:hover {
  background: var(--border-color);
}

.btnframe {
  width: 80px;
  height: 30px;
  border-radius: 18px;
  background: blue;
  display: flex;
  align-items: center;
  color: #fff;
}

.LHS .fa-solid {
  color: #fff;
  margin-right: 5px;
}

.LHS {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  height: 30px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  outline: 0;
  border: 0;
  background: transparent;
  font-size: 12px;
  position: relative;
  color: #fff;
  font-size: 12px;
  padding: 5px;
}

.LHS:hover {
  background: rgb(81, 81, 245);
}

.btnframe span:hover .LHS:hover::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #fff;
  right: 0;
  top: 25%;
  position: absolute;
  cursor: pointer;
}

.RHS {
  outline: 0;
  border: 0;
  width: 30%;
  height: 30px;
  text-align: left;
  padding: 5px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: transparent;
  position: relative;
}

.btnframe span:hover {
  display: none;
}

.btnframe span:hover .RHS:hover::after {
  content: "";
  width: 1px;
  height: 50%;
  left: 0;
  background-color: #fff;
  top: 25%;
  position: absolute;
  cursor: pointer;
}

.RHS:hover {
  background: rgb(81, 81, 245);
}

.RHS .fa-solid {
  color: #fff;
}

.userProfile span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: brown;
  color: #fff;
  cursor: pointer;
}
