* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ring-color: rgb(59 130 246 / 0.5);
  --border-color: rgb(226 232 240 / 80%);
  --tw-opacity: 1;
  --font-color: rgb(15 23 42 / var(--tw-opacity));
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: var(--border-color);
}

nav {
  width: 100%;
  padding: 10px 5%;
}
